/*.md
/.git
/.gitignore
/.idea
/Dockerfile
/great-rust
/kind
/kind.conf
/kind.kubeconfig
/local-kind-cluster.sh
/pre-commit
/s5-crd.yaml.bak
/s5.yaml
/self-service-project-crd.yaml
/self-service-project-manifest.yaml
/spec.sh
/target
/tests
